.main-view-container {
  /* Añadimos padding para que el contenido no esté pegado a los bordes */
  padding: 1.5rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.grid-container {
  display: grid;
  /* Crea columnas automáticas:
    - minmax(180px, 1fr): Cada tarjeta mide MÍNIMO 180px, pero
      se estirará (1fr) para ocupar el espacio disponible.
    - auto-fill: Llena la fila con tantas columnas como quepan.
  */
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

/* Diseño de Tarjeta */
.card {
  position: relative; /* Clave para posicionar el botón de play */
  display: flex;
  flex-direction: column;
  background-color: #181818; /* Un gris un poco más claro que el fondo */
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: var(--color-gris-oscuro);
}

.card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  
  /* Para cortar texto largo */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Diseño de Tarjeta (tipo Álbum) */
.card.album .card-title {
  margin-bottom: 0.5rem;
}

.card.album img {
  border-radius: 50%; /* Portada redonda */
}

.card-description {
  font-size: 0.85rem;
  /* Para cortar texto largo */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --- ESTILOS PARA EL BOTÓN DE PLAY FLOTANTE --- */

.play-btn {
  /* Posicionamiento */
  position: absolute;
  right: 1.5rem; 
  /* Ajustamos 'bottom' basado en el tamaño de imagen + padding */
  bottom: 7.5rem; 
  
  /* Apariencia */
  background-color: var(--color-verde-spotify);
  color: var(--color-negro);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  
  /* Sombra */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  
  /* Oculto por defecto */
  opacity: 0;
  transform: translateY(10px); /* Lo movemos 10px hacia abajo */
  
  /* Transición suave */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  
  cursor: pointer;
  z-index: 2; /* Asegura que esté sobre la imagen */
}

/* Ajuste para las tarjetas redondas de "álbum" */
.card.album .play-btn {
  bottom: 8.5rem;
}


/* LA MAGIA: Cuanto el mouse pasa sobre .card... */
.card:hover .play-btn {
  opacity: 1; /* ...lo hacemos visible... */
  transform: translateY(0); /* ...y lo regresamos a su posición original */
}

/* (Opcional) Pequeño efecto al presionar el botón */
.play-btn:active {
  transform: scale(0.95);
}