<div class="main-view-container">
  
  <h2>Tu Biblioteca Local</h2>
<div class="main-view-container">
  
  <h2>Tu Biblioteca Local</h2>

  <div class="grid-container">
    
    <div class="card" *ngFor="let song of songs" (click)="playSong(song)">
      
      <img [src]="song.albumArt" [alt]="song.title">
      
      <button class="play-btn">
        <i class="fas fa-play"></i>
      </button>

      <span class="card-title">{{ song.title }}</span>
      <span class="card-description text-secondary">{{ song.artist }}</span>
    </div>

  </div>
</div>
</div>