.main-view-container {
  padding: 1.5rem;
  /* El color de fondo ya está en app.css */
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--color-blanco);
}

.grid-container {
  display: grid;
  /* Crea columnas automáticas:
     Cada tarjeta mide MÍNIMO 180px, pero se estirará (1fr)
     para ocupar el espacio. Llena la fila con tantas como quepan.
  */
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
}

/* 1. Estilo de la Tarjeta */
.card {
  position: relative; /* Clave para posicionar el botón de play */
  display: flex;
  flex-direction: column;
  background-color: #181818; /* Un gris un poco más claro que el fondo */
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: var(--color-gris-oscuro);
}

.card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-blanco);
  margin-bottom: 0.25rem;
  
  /* Para cortar texto largo */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-description {
  font-size: 0.85rem;
  /* (Hereda el color de la clase .text-secondary) */
}


/* 2. Estilo del Botón de Play Flotante */
.play-btn {
  /* Posicionamiento */
  position: absolute;
  right: 1.5rem;
  /* Lo posicionamos cerca del fondo de la imagen */
  bottom: 6.5rem; 
  
  /* Apariencia */
  background-color: var(--color-verde-spotify);
  color: var(--color-negro);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  
  /* Sombra */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  
  /* Oculto por defecto */
  opacity: 0;
  transform: translateY(10px); /* Lo movemos 10px hacia abajo */
  transition: all 0.3s ease;
  
  cursor: pointer;
  z-index: 2; /* Sobre la imagen */
}


/* 3. La Magia: Cuando pasas el mouse sobre .card... */
.card:hover .play-btn {
  opacity: 1; /* ...se hace visible... */
  transform: translateY(0); /* ...y sube a su posición original */
}

.play-btn:active {
  transform: scale(0.95);
}

.card.spotify-result {
  cursor: default;
}

.card.spotify-result:hover {
  background-color: #181818; /* No cambia de color al pasar el mouse */
}

.card.spotify-result .play-btn.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: var(--color-gris-claro);
}