<div class="main-view-container">
  
  <h2>Tu Biblioteca Local</h2>
  <div class="grid-container">
    
    <div class="card">
      <img src="https://i.scdn.co/image/ab67616d0000b273e31219b139f0b8ffc1164177" alt="Album">
      <button class="play-btn">
        <i class="fas fa-play"></i>
      </button>
      <span class="card-title">Queen</span>
      <span class="card-description text-secondary">Tu Canción Local 1</span>
    </div>
    
    <div class="card">
      <img src="https://i.scdn.co/image/ab67616d0000b273a1029c31a89c3683f0f3e6f9" alt="Album">
      <button class="play-btn">
        <i class="fas fa-play"></i>
      </button>
      <span class="card-title">Daft Punk</span>
      <span class="card-description text-secondary">Tu Canción Local 2</span>
    </div>

    <div class="card">
      <img src="https://i.scdn.co/image/ab67616d0000b27375a09ab16c867201c7193f54" alt="Album">
      <button class="play-btn">
        <i class="fas fa-play"></i>
      </button>
      <span class="card-title">The Weeknd</span>
      <span class="card-description text-secondary">Tu Canción Local 3</span>
    </div>

    </div>
</div>