/* src/app/app.component.css */
.player-container {
  display: grid;
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */

  /* Definimos la estructura:
    Columnas: La primera (sidebar) de 250px, la segunda (main) toma el resto (1fr).
    Filas: La primera (contenido) toma casi todo el alto (90vh), la segunda (reproductor) es fija de 100px.
  */
 grid-template-columns: 250px 1fr 300px; /* (Sidebar, Main, Queue) */
  grid-template-rows: 1fr 100px;
}

.main-content-area {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  /* IMPORTANTE: Este contenedor ahora maneja el scroll */
  overflow-y: auto; 
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--color-negro); /* Color del sidebar */
}

.main-view {
  background-color: var(--color-negro-fondo); /* Color del fondo principal */
}

.queue-area {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: var(--color-negro); /* Fondo oscuro */
  padding: 1.5rem;
  overflow-y: auto; /* Scroll por si la lista es larga */
}

.playback-controls {
  /* Ocupa ambas columnas (1 / 3 significa "desde la línea 1 hasta la 3") */
  grid-column: 1 / 4;
  grid-row: 2 / 3;

  background-color: var(--color-gris-oscuro); /* Color de la barra de reproducción */
  border-top: 1px solid #181818;
}