<div class="controls-container">

  <div class="song-info" *ngIf="musicService.currentSong as song">
    <img [src]="song.albumArt" alt="Portada" class="album-art">
    <div class="song-details">
      <span class="song-title">{{ song.title }}</span>
      <span class="song-artist text-secondary">{{ song.artist }}</span>
    </div>
    <i class="far fa-heart icon-btn"></i>
  </div>
  <div class="song-info" *ngIf="!musicService.currentSong"></div>


  <div class="center-controls">
    <div class="buttons-container">
      <button class="control-btn">
        <i class="fas fa-random text-secondary"></i>
      </button>
      <button class="control-btn">
        <i class="fas fa-backward-step"></i>
      </button>

      <button class="control-btn play" (click)="onPlayPause()">
        <i class="fas" 
           [class.fa-play]="!musicService.isPlaying"
           [class.fa-pause]="musicService.isPlaying">
        </i>
      </button>

      <button class="control-btn">
        <i class="fas fa-forward-step"></i>
      </button>
      <button class="control-btn">
        <i class="fas fa-redo text-secondary"></i>
      </button>
    </div>

    <div class="progress-bar-container">
      <span class="time text-secondary">0:00</span>
      <input type="range" class="progress-slider" value="0" min="0" max="100">
      <span class="time text-secondary">3:45</span>
    </div>
  </div>


  <div class="volume-controls">
    <i class="fas fa-volume-down text-secondary icon-btn"></i>
    <input type="range" class="volume-slider" value="80" min="0" max="100">
  </div>

</div>