<div class="sidebar-container">
  
  <div class="logo-container">
    <i class="fab fa-spotify"></i>
    <span>Mi Reproductor</span>
  </div>

  <ul class="nav-list">
    <li class="nav-item active"> <i class="fas fa-home"></i>
      <span>Inicio</span>
    </li>
    <li class="nav-item">
      <i class="fas fa-search"></i>
      <span>Buscar</span>
    </li>
    <div class="search-bar">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Buscar en Spotify..." (input)="onSearch($event)">
    </div>

  </ul>

  <ul class="nav-list secondary">
    <li class="nav-item">
      <i class="fas fa-plus-square"></i>
      <span>Crear playlist</span>
    </li>
    <li class="nav-item">
      <i class="fas fa-heart"></i>
      <span>Canciones que te gustan</span>
    </li>
  </ul>

  <hr class="divider">

  <div class="playlist-list">
    <span>Mi Playlist #1</span>
    <span>Rock en Español</span>
    <span>Para Programar</span>
    <span>Gym</span>
  </div>

</div>